* {
  box-sizing: border-box;
  font-family: "Arial";
}

h1 {
  text-align: center;
  font-size: 1.75em;

}

h2 {
  text-align: center;
  margin: 0px 20px 0px 20px;
  font-size: 1.25em;
}

.row {
  width: 100%;
}

.cell {
  float: left;
  margin: 0px;
  padding: 0px 10px 0px 10px;
  border: 0px;
}

section {
  margin: 10px 0px 10px 0px;
  padding: 0px;
  border: 1px solid black;
  background-color: silver;
}

#section-title-1 {
  float: right;
  background-color: pink;
  border: 1px solid black;  
  margin: -1px -1px 0px 0px;
}

#section-title-2 {
  float: right;
  background-color: indianred;
  border: 1px solid black;  
  margin: -1px -1px 0px 0px;
}

#section-title-3 {
  float: right;
  background-color: wheat;
  border: 1px solid black;  
  margin: -1px -1px 0px 0px;
}

#section-content {
  clear: right;
  margin: 15px;
  position: relative;
  top: 10px;
}

/********** mobile layout **********/
@media (max-width: 767px) {
  .col-mob-12 {
    width: 100%;
  }
}

/********** tablet layout **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-tab-6 {
    width: 50%;
  }
  .col-tab-12 {
    width: 100%;
  }
}

/********** desktop layout **********/
@media (min-width: 992px) {
  .col-dsk-4 {
    width: 33.33%; 
}
